@model Loca.Domain.Entities.User
@{
    ViewData["Title"] = "Novo Usuário";
}

<div class="card cold-md-12">
    <form asp-action="Create">
        <div class="form-group">
            <div class="col-md-12">
                <label for="FirstName">Nome</label>
                <input asp-for="FirstName" type="text" id="FirstName" name="FirstName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="LastName">Sobrenome</label>
                <input asp-for="LastName" type="text" id="LastName" name="LastName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="Email">E-mail</label>
                <input asp-for="Email" type="email" id="Email" name="Email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="Password">Senha</label>
                <input asp-for="Password" type="password" id="Password" name="Password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="Birthdate">Aniversário</label>
                <input asp-for="BirthDate" type="date" id="Birthdate" name="Birthdate" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="Image">Imagem</label>
                <input asp-for="Image" type="file" id="Image" name="Image" class="form-control" />
            </div>
        </div>
        <div class="form-group text-right">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success" style="width:100%">Cadastrar</button>
            </div>
        </div>
    </form>
</div>


